/*------------------------------------------------------------
title
------------------------------------------------------------*/


/*
------------------------------------------------------------*/
.c-title01 {
    font-size: 3.4rem;
    font-weight: 500;
    line-height: 1.133;
    letter-spacing: 0.074em;
}
