/*------------------------------------------------------------
title
------------------------------------------------------------*/


/*
------------------------------------------------------------*/
.c-title01 {
    font-size: 3.4rem;
    font-weight: 500;
    line-height: 1.133;
    letter-spacing: 0.074em;
}

.c-title02 {
    font-size: 2.8rem;
    font-weight: 500;
    line-height: 1.607;
    letter-spacing: 0.024em;
}

.c-title03 {
    font-size: 4.4rem;
    font-weight: 500;
    line-height: 1.1364;
    letter-spacing: 0.074em;
}

.c-title04 {
    font-size: 3.4rem;
    font-weight: 500;
    line-height: 0.882;
    letter-spacing: 0.074em;
}

