@charset 'utf-8';

//≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡
// define
//≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡
@import "0_base/vars";
@import "0_base/reset";
@import "0_base/mixin";

.sp-only {
    display: none;
}
@include sp {
    .pc-only {
        display: none;
    }

    .sp-only {
        display: block;
    }
}

/*≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡
// Layout .l-
≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡*/
@import "1_layout/header";
@import "1_layout/footer";
@import "1_layout/breadcrumb";
@import "1_layout/layout";

/*≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡
// Component .c-
≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡*/
@import "2_component/01_btn";
@import "2_component/02_title";
@import "2_component/03_icon";
@import "2_component/04_form";
@import "2_component/05_text";
@import "2_component/06_navi";
@import "2_component/07_img";
@import "2_component/08_list";
@import "2_component/09_table";
@import "2_component/10_line";
@import "2_component/11_video";
@import "2_component/12_slide";
@import "2_component/13_keyframe";
@import "2_component/14_modal";
@import "2_component/99_other";

/*≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡
// Project .p-
≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡*/


/*≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡
// Utility .u-
≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡*/
@import "0_base/utility";

.u-center {
    text-align: center;
}

.u-margin__bottom13 {
    margin-bottom: 13px !important;
}

.u-margin__bottom4 {
    margin-bottom: 4px !important;
}

.u-margin__bottom6 {
    margin-bottom: 6px !important;
}

.u-hidden__tb {
    display: block !important;
    @include tab {
        display: none !important;
    }
    
}

.u-show__tb {
    display: none !important;
    @include tab {
        display: block !important;
    }
    
}
// mainvisual
.c-mainvisual {
    height: 100vh;
    position: relative;
    padding-top: 80px;

    .c-mainvisual__slider {
        height: 100%;
    }

    .c-mainvisual__itemimg {
        background-repeat: no-repeat !important;
        background-size: cover !important;
        height: 100%;
        width: 100%;
    }

    .c-mainvisual__slider .slick-list,
    .c-mainvisual__slider .slick-track {
        height: 100%;
    }

    .c-mainvisual__item {
        height: 100%;
    }

    .c-mainvisual__item1 {
        background: url(../../assets/img/index_pc/mainsisual.png);
        
    }

    .slick-active {
        .c-mainvisual__item1 {
            // animation: imageZoomIn 10s linear backwards;
        }

        .c-mainvisual__item2 {
            animation: toptobottom 40s linear backwards;
        }

        .c-mainvisual__item3 {
            animation: lefttoright 40s linear backwards;
        }
    }

    .c-mainvisual__item2 {
        background: url(../../assets/img/index_pc/mainsisual02.png);
    }

    .c-mainvisual__item3 {
        background: url(../../assets/img/index_pc/mainsisual03.png);
    }

    .c-mainvisual__content {
        position: absolute;
        top: 0;
        bottom: 0;
        max-width: 1200px;
        width: 80%;
        left: 50%;
        transform: translateX(-50%);
    }

    .c-mainvisual__title {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        font-size: 5rem;
        font-weight: 500;
        color: #fff;
        line-height: 1.72;
        letter-spacing: 0.08em;
        font-feature-settings: "palt";
    }

    .c-mainvisual__itemtext {
        display: flex;
        background-color: #0080cc;
        max-height: 69px;
        margin-bottom: 16px;
        align-items: center;
        max-width: max-content;
        padding: 0 12px 0 9px;

    }

    .c-mainvisual__btnscroll {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: -55px;
        font-size: 2rem;
        font-weight: 500;
        letter-spacing: 0.024em;
        line-height: 1.5;
        color: #0080cc;

        &::after {
            content: "";
            display: block;
            width: 1px;
            height: 30px;
            background-color: #0080cc;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: -43px;
        }
    }

    .c-mainvisual__bottom {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        text-align: center;
    }

    .c-mainvisual__bottomtext {
        font-size: 2.6rem;
        font-weight: 500;
        line-height: 1.154;
        letter-spacing: 0.074em;
        padding: 36px 0 29px;
        background-color: #fff;
        color: #0080cc;

        .c-mainvisual__bottomtext--spec {
            margin-right: -7px;
            color: #ff5800;
        }
    }
}

// end mainsisual

// section about
.c-about {
    position: relative;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 76.75%;
        height: 100%;
        background-color: #0080cc;
        z-index: -1;
    }

    .l-container__w1160 {
        display: flex;
        padding: 100px 20px;
        justify-content: space-between;
    }

    .c-title01 {
        color: #fff;
        padding-bottom: 30px;
        padding-top: 17px;

    }

    .c-text01 {
        color: #fff;
        margin-bottom: 28px;
    }

    .c-about__left {
        width: 37%;
        max-width: 421px;
        margin-left: 8.929%;
        
    }

    .c-about__right {
        width: 50%;
        max-width: 540px;
        padding-bottom: 22px;
    }

    .c-about__img {
        position: relative;

        &::before {
            content: "";
            width: calc(100% - 4px);
            height: 100%;
            display: block;
            border: 2px solid #fff;
            position: absolute;
            top: 19px;
            left: -20px;

        }
    }

    .c-about__img01 {
        margin-bottom: 44px;
    }

}
// end section about

// work01

.c-works01 {
    padding-top: 98px;

    .c-title01 {
        color: #0080cc;
    }

    .c-works01__subtitle {
        padding-top: 15px;
        padding-bottom: 57px;
        color: #3c3c3c;
    } 

    .l-container__w1160 {
        margin-left: auto;
        max-width: 1160px;
        width: 100%;
        padding: 0 80px;
        display: flex;
        justify-content: space-between;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            display: block;
            width: 76.75%;
            height: 100%;
            background-color: #eff3f5;
            z-index: -1;
        }
    }

    .c-works01__groupimg {
        width: 48%;
        max-width: 400px;
        margin-right: 40px;
        margin-right: 40px;
    }

    .c-works01__content {
        width: 60%;
        max-width: 560px;
        padding-top: 9.8%;
    }

    .c-works01__contenttitle.c-title01 {
        padding-bottom: 15px;
    }

    .c-works01__contentsub {
        margin-bottom: 30px;
        color: #3c3c3c;
    }

    .c-works01__tagitem {
        display: flex;
        margin-bottom: 21px;
    }

    .c-works01__tagitemleft {
        width: 54px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #0080cc;
    }

    .c-works01__number {
        font-size: 2rem;
        font-weight: 300;
        color: #fff;
        line-height: 1.7;
    }

    .c-works01__tagtxt {
        font-size: 1.8rem;
        font-weight: 300;
        color: #0080cc;
        line-height: 1.667;
        letter-spacing: 0.03em;
    }

    .c-works01__tagitemright {
        padding: 13px 19px 12px;
        flex: 1;
        border: 1px solid #0080cc;
    }

    .c-works01__tagitem:nth-child(1) .c-works01__tagitemright {
        padding: 13px 24px 12px;
        
    }

    .c-works01__tagitem:nth-child(2) .c-works01__tagitemright {
        padding: 11px 19px;
    }
}

// work 2
.c-works02 {
    padding-top: 95px;

    .c-works02__title {
        letter-spacing: 0.05em;
        margin-bottom: 19px;
        color: #0080cc;
    }

    .c-works02__subtitle {
        margin-bottom: 33px;
        color: #3c3c3c;
    }

    .c-work02__media {
        margin: 0 20px;
        padding: 39px 38px 41px 40px;
        display: flex;
        justify-content: space-between;
        border: 1px solid #0080cc;
    }

    .c-work02__medialeft {
        max-width: 400px;
        max-height: 560px;
        width: 400px;
        margin-right: 19px;
        
    }

    .c-work02__video {
        width: 100%;
        height: 100%;
        
    }

    .c-work__videocontent {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .c-work02__mediaright {
        width: 49%;
        max-width: 380px;
    }

    .c-work02__groupimage {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .c-work02__itemimage {
        width: 48%;
        max-width: 180px;
        margin-top: 26px;
        position: relative;

        &:hover {
            .c-btn__pickup {
                opacity: 1;
                visibility: visible;

            }
        }
    }

    .c-btn__pickup {
        opacity: 0;
        visibility: hidden;
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
        transition: 0.3s ease-in-out;
        background-color: rgba(255, 255, 255, 0.6);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .c-btn__pickuptext {
        font-size: 1.8rem;
        font-weight: 600;
        color: #005384;
        line-height: 1.4445;
        letter-spacing: 0.024em;
    }

    .c-btn__pickupicon {
        margin-bottom: -8px;
    }

    .icon-zoom {
        fill: #005384;
    }

    .c-work02__itemimage:nth-child(1),
    .c-work02__itemimage:nth-child(2) {
        margin-top: 0;
    }

}
// end work02

// caree01
.c-career01 {
    padding-top: 94px;
    padding-bottom: 100px;

    .u-hidden__tb {
        display: block;
    }

    .u-show__tb {
        display: none;
    }

    .l-container__w920 {
        padding: 0 20px;
    }

    .c-career01__content {
        color: #3c3c3c;
    }

    .c-career01__title {
        color: #0080cc;
        line-height: 1.47;
        margin-bottom: 19px;
    }

    .c-career01__txt {
        display: block;
    }
}
// caree02
.c-career02 {
    background-image: url(../../assets/img/index_pc/career_banner.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    padding-top: 56.17%;
    margin-bottom: 74px;

    .l-container__inner {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 80%;
        max-width: 1200px;
    }

    .c-career02__body {
        position: absolute;
        top: 49%;
        transform: translate(0, -50%);
        width: 489px;
        height: 471px;
        background-color: #fff;
        padding: 38px 26px 31px 40px;

    }

    .c-career02__title {
        color: #0080cc;
        line-height: 1.324;
        letter-spacing: 0.024em;
        margin-bottom: 14px;
        
    }

    .c-career02__content {
        line-height: 1.875;
        color: #0b0b0b;
    }

    .c-career02__text {
        display: block;
    }
}
// career03
.c-career03 {
    position: relative;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 76.75%;
        height: 100%;
        background-color: #f8f8f8;
        z-index: -1;
    }

    .l-container__w1160 {
        padding: 100px 20px 103px;
    }

    .c-career03__list {
        width: 100%;
        max-width: 870px;
        padding: 0 30px;
        margin-bottom: 41px;

    }

    .c-career03__item {
        margin-bottom: 16px;

        &:nth-child(2) {
            .c-career03__itemcontent {
                margin-top: 11px;
            }
        }

        &:nth-child(4) {
            .c-career03__contenttxt:first-child {
                margin-bottom: 26px;
            }
        }
    }

    .c-career03__title {
        color: #0080cc;
        margin-left: 8.929%;
        letter-spacing: 0.024em;
        margin-bottom: 46px;
    }

    .c-career03__number {
        margin-left: 13.582%;
    }

    .c-career03__numbertext {
        font-size: 2.5rem;
        font-weight: 600;
        line-height: 1.52;
        letter-spacing: 0.024em;
        color: #0080cc;
    }

    .c-career03__contenttxt {
        color: #0080cc;
        margin-left: auto;
        max-width: 562px;
    }

    .c-career03__itemcontent {
        margin-left: auto;
        max-width: 649px;
        margin-top: 17px;
        padding: 11px 0 15px;
        border-left: 1px solid #0080cc;
    }

    .c-career03__bottom {
        max-width: 652px;
        margin: 0 auto;
        transform: translateX(-55px);
    }

    .c-career03__caption {
        font-size: 2.5rem;
        font-weight: 600;
        line-height: 1.52;
        color: #ff5800;
        letter-spacing: 0.024em;
        padding-top: 24px;
        padding-bottom: 35px;
        position: relative;

        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            right: 0;
            background-image: url(../../assets/img/index_pc/icon-radius02.svg);
            display: block;
            width: 41px;
            height: 43px;
        }

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            background-image: url(../../assets/img/index_pc/icon-radius01.svg);
            display: block;
            width: 41px;
            height: 43px;
        }
    }
}

// carrer04
.c-career04 {
    .l-container__w1100 {
        padding-left: 20px;
        margin-left: auto;
    }

    .c-career04__group {
        background-color: #fdfbef;
        display: flex;

    }

    .c-career04__content {
        width: 66%;
        max-width: 560px;
        color: #3c3c3c;
        padding-top: 91px;
    }

    .c-career04__groupimages {
        max-width: 400px;
        width: 40%;
        margin-right: 40px;
    }

    .c-career04__list {
        &:nth-child(2) {
            margin-bottom: 54px;
        }

        &:nth-child(4) {
            .c-career04__itemcontent {
                margin-bottom: 9px;
            }

            .c-career04__notetitle {
                margin-left: 23px;
                margin-bottom: 0;
            }

        }
    }

    .c-career04__itemimg:nth-child(1) {
        max-height: 237px;

    }

    .c-title02 {
        color: #ff5800;
        padding-bottom: 6px;
    }

    .c-career04__itemcontent {
        margin-bottom: 10px;
    }

    .c-career04__itemtxt {
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 1.6667;
        letter-spacing: 0.03em;
    }

    .c-career04__itemtxt02 {
        font-size: 1.6rem;
        font-weight: 300;
        line-height: 1.75;
        letter-spacing: 0.024em;
        display: block;
        margin-left: 17px;
        margin-bottom: 10px;
    }

    .c-career04__itemtxt03 {
        font-size: 1.6rem;
        font-weight: 300;
        letter-spacing: 0.03em;
        line-height: 1.875;
    }

    .c-career04__dots {
        font-size: 1rem;
        margin-right: 2px;
    }

    .c-career04__star {
        font-size: 1.2rem;
        margin-right: -1px;
        margin-left: 4px;
        display: inline-block;
    }

    .c-career04__note {
        margin-left: 23px;
    }
}
// interview01
.c-interview01 {
    padding-top: 100px;

    .c-title03 {
        color: #0080cc;
        padding-bottom: 12px;
    }

    .c-interview__sub {
        color: #3c3c3c;
    }

    .c-interview__list {
        display: flex;
        max-width: 1000px;
        padding: 51px 20px;
        margin: 0 auto;
        justify-content: space-between;
    }

    .c-interview__item {
        position: relative;
        border: 4px solid #0080cc;
        max-width: 314px;
        height: 100%;

        &:nth-child(2) {
            .c-interview__images {
                padding: 0;
            }

            .c-interview__itemtitle {
                padding-left: 25px;
            }
        }

        &:hover {
            border-color: #005384;
            cursor: pointer;

            .c-interview__position {
                background-color: #005384;
            }

            .c-interview__hover {
                opacity: 1;
                visibility: visible;
            }
        }
    }

    .c-interview__images {
        padding-bottom: 6px;

        .c-interview__images--spec {
            height: 510px;
        }
    }

    .c-interview01__itembefog {
        position: absolute;
        bottom: 0;
        height: 120px;
        background-color: #fff;
        width: 100%;
    }

    .c-interview__itemtitle {
        font-size: 1.8rem;
        font-weight: 600;
        line-height: 1.4444;
        letter-spacing: 0.024em;
        color: #0080cc;
        max-width: 275px;
        padding-top: 17px;
        padding-left: 21px;
    }

    .c-interview__position {
        position: absolute;
        bottom: -17%;
        left: 50%;
        width: 96%;
        transform: translate(-50%, -50%);
        background-color: #0080cc;
        height: 82px;
    }

    .c-interview__btnitem {
        display: flex;
        align-items: center;
        padding-left: 20px;
        padding-top: 15px;
    }

    .c-interview__btntitle {
        font-size: 2rem;
        font-weight: 400;
        color: #fff;
        line-height: 1.5;
        letter-spacing: 0.024em;
        margin-bottom: -1px;
    }

    .c-interview__btntext {
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 2.143;
        color: #fff;
        letter-spacing: 0.024em;
    }

    .c-interview__btnicon {
        margin-right: 6.5%;
    }

    .c-interview__btncontent {
        transform: translateY(-2px);
    }

    .c-interview__hover {
        position: absolute;
        top: 0;
        bottom: 0;
        background-color: rgba(255, 255, 255, 0.74);
        height: 100%;
        width: 100%;
        opacity: 0;
        visibility: hidden;
        transition: 0.3s ease-in-out;
    }

    .c-interview__hovergroup {
        position: absolute;
        top: 42%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }

    .c-interview__hovertxt {
        font-size: 2.4rem;
        font-weight: 600;
        color: #005384;
        line-height: 1.08333;
        letter-spacing: 0.024em;
    }
}

// interview02
.c-interview02 {
    background-color: #0080cc;
    margin-top: 91px;

    .l-container__w1000 {
        width: 100%;
        max-width: 1000px;
        padding: 0 20px;
        margin: 0 auto;
    }


    .c-title04 {
        color: #fff;
        padding-top: 102px;
        padding-bottom: 47px;
    }

    .c-interview02__sub {
        font-size: 2.4rem;
        font-weight: 500;
        color: #fff;
        line-height: 1.92;
        letter-spacing: 0.024em;
        margin-bottom: 23px;

    }

    .c-interview02__content {
        color: #fff;
    }

    .c-interview02__text {
        margin-bottom: 28px;
    }

    .c-interview02__header {
        display: flex;
        justify-content: space-between;

    }

    .c-interview02__left {
        width: 66%;
        max-width: 630px;
        margin-right: 50px;
    }

    .c-interview02__right {
        width: 34%;
        max-width: 279px;
        margin-top: 6px;
    }

    .c-interview02__bodytop {
        font-size: 2.4rem;
        font-weight: 500;
        line-height: 1.92;
        letter-spacing: 0.024em;
        color: #fff;
        padding-top: 22px;
    }

    .c-interview02__bodybottom {
        font-size: 2.2rem;
        font-weight: 500;
        line-height: 2.09;
        letter-spacing: 0.024em;
        color: #fff;
        padding-top: 16px;
        


    }

    .c-interview02__bodytitle {
        padding-top: 51px;
        padding-bottom: 53px;
    }

    .c-interview02__bottom {
        display: flex;
        justify-content: space-between;
        padding: 0 40px;
        padding-bottom: 119px;
    }

    .c-interview02__bottomitem {
        display: flex;
        align-items: center;

    }

    .c-interview02__bottomlogo {
        padding: 32px 45px 30px 37px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        max-height: 116px;
        margin-right: 68px;
    }

    .c-interview02__bottomlist {
        font-size: 2.2rem;
        font-weight: 500;
        line-height: 2.09;
        letter-spacing: 0.024em;
        color: #fff;
        flex: 1;
        transform: translateY(-12px);
    }

    .c-interview02__bottomleft {
        max-width: 52px;
        width: 11%;
    }

    .c-line01 {
        width: 62px;
        height: 1px;
        background-color: #fff;
        transform: translateY(2px);
        margin-right: 19px;
    }

    p.c-interview02__bottomright {
        letter-spacing: 0.094em;
        transform: translateY(2px);
    }
}
// recruit

.c-recruit {
    padding-top: 99px;

    .l-container__w1000 {
        margin: 0 auto;
    }

    .c-title03 {
        color: #0080cc;
    }

    .c-recruit__sub {
        color: #3c3c3c;
        padding-top: 15px;
        padding-bottom: 55px;
    }

    .c-recruit__tags {
        padding: 0 20px;
    }

    .c-recruit__tagheader {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }

    .c-recruit__headertitle {
        font-size: 2.6rem;
        font-weight: 400;
        line-height: 1.077;
        letter-spacing: 0.024em;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        max-width: 444px;
        padding-top: 36px;
        padding-bottom: 19px;


        &.is-active {
            flex: 1;
            max-width: 100%;
            padding-top: 40px;
            padding-bottom: 25px;
            color: #fff;

            .c-recruit__headertext {
                transform: unset;
            }
        }
    }

    .c-bg__blue {
        color: #0080cc;
        background-color: #fff;
        border: 1px solid #0080cc;
        border-top-left-radius: 10px;
        border-right: 0;
        border-bottom: 0;

        &.is-active {
            background-color: #0080cc;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }
    }

    .c-bg__gray {
        color: #3c3c3c;
        border-top-right-radius: 20px;
        border: 1px solid #404141;
        border-left: 0;
        border-bottom: 0;

        &.is-active {
            border: 1px solid #3c3c3c;
            background-color: #3c3c3c;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
        }
    }

    .c-recruit__headertext {
        transform: translateX(-17px);
    }

    .c-recruit__groupcontentlayout {
        border: 3px solid;
        padding: 0 36px;
        background-color: #f2f5f7;
        padding-top: 39px;

        &.is-bg__bule {
            display: none;

            &.is-show {
                display: block;
            }
        }

        &.is-bg__gray {
            display: none;

            &.is-show {
                display: block;
            }
        }
    }

    .is-bg__gray {
        border-color: #3c3c3c;
        
        .c-recruit__item:first-child {
            border-bottom: 5px solid #3c3c3c;
        }

        .c-recruit__table {
            padding-bottom: 71px;
        }
    }

    .is-bg__bule {
        border-color: #0080cc;
        
        .c-recruit__item:first-child {
            border-bottom: 5px solid #0080cc;
        }

        .c-recruit__item:nth-child(6) {
            .c-recruit__tablecontent {
                padding-bottom: 7px;
            }
            
        }
    }

    .is-bg__gray {
        border-color: #3c3c3c;
    }

    .c-recruit__tableheading {
        font-size: 2rem;
        color: #0b0b0b;
        line-height: 1.5;
        font-weight: 600;
        letter-spacing: 0.024em;
        padding-left: 59px;
        padding-bottom: 13px;
        padding-top: 17px;
        max-width: 255px;
        width: 100%;
        text-align: unset;
        transform: translateY(-1px);
    }

    .c-recruit__tablecontent {
        font-size: 1.6rem;
        color: #0b0b0b;
        line-height: 1.875;
        font-weight: 400;
        letter-spacing: 0.024em;
        padding-bottom: 13px;
        padding-top: 13px;
        padding-right: 45px;
        flex: 1;
        
    }

    .c-recruit__item {
        border-bottom: 1px solid #707070;
        display: flex;
    }

    .c-recruit__bottom {
        max-width: 741px;
        margin: 0 auto;
    }

    .c-recruit__groupbtn {
        display: flex;
        justify-content: space-between;
        padding-top: 50px;
        padding-bottom: 57px;
    }

    .c-recruit__btn {
        width: 49%;
        height: 66px;
        background-color: #0080cc;
        border-radius: 9px;
        display: flex;


        &:hover {
            .c-recruit__btnIcon {
                background-color: #005384;
                opacity: 1;
            }
            
        }
    }

    .c-recruit__btn:nth-child(1) {
        margin-right: 35px;
    }

    .c-recruit__btnIcon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        border-radius: 9px;
    }

    .c-recruit__btnsvg {
        width: 30px;
        height: 30px;
        margin-right: 9px;
    }

    .c-recruit__btnText {
        color: #fff;
        font-size: 2.2rem;
        font-weight: 400;
        line-height: 1.273;
        letter-spacing: 0.024em;
    }
}

// company
.c-company {
    padding-top: 98px;
    padding-bottom: 50px;

    .l-container__w1000 {
        padding: 0 20px;
    }

    .c-title03 {
        color: #0080cc;
        padding-bottom: 58px;
    }

    .c-company__table,
    .c-company__tableheading,
    .c-company__tablecontent {
        border: 1px solid #cbcbcb;
        border-collapse: collapse;
    }

    .c-company__table {
        text-align: left;
    }

    .c-company__item:nth-child(9) {
        .c-company__tablecontent {
            padding-bottom: 16px;
        }
        
    }

    .c-company__tableheading {
        width: 30%;
        font-size: 1.6rem;
        font-weight: 400;
        color: #0b0b0b;
        line-height: 1.875;
        letter-spacing: 0.024em;
        background-color: #f7f7f7;
        vertical-align: top;
        padding: 14px 6px 10px 18px;
    }

    .c-company__tablecontent {
        font-size: 1.6rem;
        font-weight: 400;
        color: #0b0b0b;
        line-height: 1.875;
        letter-spacing: 0.024em;
        padding: 14px 29px  10px 19px;

    }

}

.is-show__bggray .c-recruit .c-bg__blue {
    max-width: 483px;
    padding-top: 34px;
}

.is-show__bggray .c-recruit .c-bg__gray {
    padding-top: 35px;
    padding-bottom: 23px;
}

.is-show__bggray .c-recruit .c-recruit__sub {
    padding-bottom: 62px;
}
    
// large PC
@media screen and (min-width: 1201px) {
    .c-about .l-container__w1160,
    .c-works01 .l-container__w1160,
    .c-career03 .l-container__w1160,
    .c-career04 .l-container__w1100 {
        margin: 0 auto;
    }

    .c-works01 {
        .c-works01__body {

            position: relative;

            &::after {
                content: "";
                position: absolute;
                top: 0;
                right: 0;
                display: block;
                width: 76.75%;
                height: 100%;
                background-color: #eff3f5;
                z-index: -1;
            }
        }
    }

    .c-career04 {
        position: relative;

        &::after {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            display: block;
            width: 76.75%;
            height: 100%;
            background-color: #fdfbef;
            z-index: -1;
        }
    }
}

@media screen  and (max-width: 1199px) {
    .c-header .c-nav__item:not(:first-child) {
        margin-left: 16px;
    }

    .c-header .c-header__btn {
        margin-left: 20px;
    }

    .c-header .c-header__btnIcon {
        padding: 10px 25px;
    }

    .c-career03::before {
        width: 85.75%;
    }

    .c-footer .c-nav__item {
        margin-right: 13px;
    }

    .c-footer .c-nav {
        margin-right: 4px;
    }

    .c-footer .c-footer__btn {
        width: 165px;
    }
}
@media screen and (max-width:1024px) {
    .c-header {
        background: #fff;
        max-height: 124px;

        .l-container {
            padding: 20px 20px 3px;
        }

        .c-header__logo {
            position: absolute;
            margin-top: 0;

            &::after {
                bottom: -7px;
            }
        }

        .c-header__right {
            flex-direction: column-reverse;
            flex: 1;

        }

        .c-nav {
            align-self: center;
        }

        .c-header__btn {
            max-width: 157px;
            align-self: flex-end;
            margin-bottom: 25px;
        }

        .c-header__btnIcon {
            padding: 5px 25px 5px 27px;
        }

        .c-header__btnText {
            font-size: 1.6rem;
            letter-spacing: 0.124em;
            line-height: 1.875;
        }

        .c-nav__link {
            padding: 4px 3px 2px 0;
        }

        .c-nav__item {
            &:not(:first-child) {
                margin-left: 36px;
            }

            &.c-nav__item.is-active {
                .c-nav__text {
                    padding-bottom: 8px;
                }
            }
        }
    }

    .c-mainvisual {
        padding-top: 124px;
    
        .c-mainvisual__item1 {
            background: url(../../assets/img/Tablet/mainsisual__talet.png);
        }
    
        .c-mainvisual__item2 {
            background: url(../../assets/img/Tablet/mainvisual2tablet.jpg);
        }
    
        .c-mainvisual__item2 {
            background: url(../../assets/img/Tablet/mainvisual3tablet.jpg);
        }
    
        .c-mainvisual__title {
            font-size: 4rem;
            line-height: 1.27;
            top: calc(50% - -32px);
        }
    
        .c-mainvisual__content {
            width: 89.4%;
        }
    
        .c-mainvisual__bottomtext {
            font-size: 2.2rem;
            line-height: 1.364;
            padding: 4px 0 20px;
        }
    
        .c-mainvisual__btnscroll {
            top: -64px;
            left: 51.6%;
        }
    }
    
    .c-about {
        &::before {
            width: 87%;
        }
    
        .l-container__w1160 {
            max-width: 768px;
            padding: 59px 18px 58px 17px;
            margin: 0 auto;
        }
    
        .c-about__left {
            width: 54%;
            margin-left: 0;
            max-width: 396px;
            
        }
    
        .c-title01 {
            padding-bottom: 17px;
            padding-top: 33px;
        }
    
        .c-text01 {
            margin-bottom: 25px;
        }
    
        .c-about__right {
            max-width: 311px;
            width: 44%;
        }
    
        .c-about__img {
            &::before {
                top: 16px;
                left: -17px;
            }
        }
    
        .c-about__img01 {
            margin-bottom: 40px;
        }
    } 
    
    .c-works01 {
        padding-top: 61px;
    
        .c-works01__subtitle {
            padding-bottom: 35px;
        }
    
        .l-container__w1160 {
            max-width: 768px;
            padding: 0 20px;
            margin: 0 auto;
        }
    
        .c-works01__groupimg {
            width: 42%;
            max-width: 288px;
            margin-right: 20px;
        }
    
        .c-works01__imgitem:nth-child(1) {
            height: 177px;
        }
    
        .c-works01__content {
            padding-top: 60px;
        }
    
        .c-works01__contenttitle.c-title01 {
            padding-bottom: 12px;
        }
    
        .c-works01__contentsub {
            margin-bottom: 17px;
        }
    
        .c-works01__tagitemleft {
            width: 41px;
        }
    
        .c-works01__tagtxt {
            font-size: 1.6rem;
            line-height: 1.4375;
            letter-spacing: 0.022em;
        }
    
        .c-works01__tagitem {
            margin-bottom: 15px;
    
            &:nth-child(1) {
                .c-works01__tagitemright {
                    padding: 11px 19px;
                }
            }
    
            &:nth-child(2) {
                margin-bottom: 7px;
    
                .c-works01__tagitemright {
                    padding: 11px 13px;
                }
            }
            
        }
    
        .c-works01__tagitemright {
            padding: 11px 13px;
        }
    
        
    }

    .c-works02 {
        padding-top: 53px;

        .l-container__w920 {
            max-width: 768px;
        }

        .c-works02__title {
            font-size: 3.4rem;
            line-height: 1.47;
            margin-bottom: 5px;

        }

        .c-works02__subtitle {
            font-size: 1.6rem;
        }

        .c-work02__media {
            padding: 20px;
        }

        .c-work02__medialeft {
            max-height: 460px;
            max-width: 342px;
            margin-right: 20px;
        }

        .c-work02__itemimage {
            margin-top: 21px;
            width: 47%;
            max-width: 152px;
        }
    } 

    .c-career01 {
        padding-top: 54px;
        padding-bottom: 30px;

        .c-title01 {
            font-size: 2.6rem;
            line-height: 1.69;
            margin-bottom: 22px;
            
        }

        
    }

    .c-career02 {
        background-image: url(../../assets/img/Tablet/career_banner_tablet.png);
        padding-top: 73.9%;
        margin-bottom: 0;

        .l-container__inner {
            width: 95%;
        }

        .c-career02__title {
            letter-spacing: 0.054em;
            line-height: 1.46667;
            margin-bottom: 9px;
        }

        .c-career02__body {
            width: 383px;
            height: 443px;
            top: 50%;
            padding: 34px 30px 30px 40px;
        }

        .c-career02__content {
            line-height: 1.786;
        }
    }

    .c-career03 {
        &::before {
            width: 87%;
        }

        .l-container__w1160 {
            max-width: 768px;
            width: 100%;
            margin: 0 auto;
            padding: 62px 20px 59px;
        }

        .c-career03__title {
            letter-spacing: 0.054em;
            margin-left: 2.929%;
            margin-bottom: 24px;
        }

        .c-career03__number {
            margin-left: 4.582%;
        }

        .c-career03__item {
            margin-bottom: 0;

            &:nth-child(2) {
                .c-career03__itemcontent {
                    margin-top: 3px;
                    padding: 17px 0 23px;
                    margin-bottom: 6px;
                }
            }

            &:nth-child(3) {
                .c-career03__itemcontent {
                    margin-top: 6px;
                    padding: 15px 0 5px;
                    margin-bottom: 20px;
                }
            }

            &:nth-child(4) {
                .c-career03__itemcontent {
                    margin-top: 12px;
                    padding: 11px 0 10px;
                    margin-bottom: 20px;
                }

                .c-career03__contenttxt {
                    font-size: 1.4rem;

                    &.u-margin__bottomspec01 {
                        margin-bottom: 29px;
                    }
                }
            }
        }

        .c-career03__itemcontent {
            padding: 17px 0 49px;
            margin-top: 5px;
        }

        .c-career03__itemcontent {
            margin-left: 82px;
        }

        .c-career03__contenttxt {
            margin-left: 41px;
            font-size: 1.6rem;
            line-height: 1.75;
            letter-spacing: 0.024em;
            max-width: 457px;
        }

        .c-career03__bottom {
            max-width: 510px;
            margin: 0 auto;
            transform: translateX(-9px);
        }

        .c-career03__caption {
            font-size: 2.1rem;
            line-height: 1.81;
        }
    }

    .c-career04 {
        .l-container__w1100 {
            width: 100%;
            max-width: 768px;
            margin: 0 auto;
        }

        .c-career04__groupimages {
            max-width: 288px;
            width: 44%;
            margin-right: 20px;
        }

        .c-career04__itemimg:nth-child(1) {
            max-height: 100%;
        }

        .c-career04__content {
            padding-top: 54px;
            max-width: 423px;
        }

        .c-title02 {
            padding-bottom: 3px;
        }

        .c-career04__itemcontent {
            margin-bottom: 6px;
        }

        .c-career04__itemtxt02 {
            font-size: 1.4rem;
        }

        .c-career04__item {
            &:nth-child(1) {
                .c-career04__itemcontent {
                    max-width: 411px;
                }
            }

            &:nth-child(3) {
                .c-career04__itemtxt02 {
                    margin-top: 3px;
                }

                .c-career04__itemtxt03 {
                    font-size: 1.4rem;
                }

                .c-career04__itemcontent {
                    margin-bottom: 13px;
                }
            }

            &:nth-child(6) {
                .c-career04__note {
                    margin-bottom: 16px;
                }
                
            }
        }

        .c-career04__list:nth-child(2) {
            margin-bottom: 49px;
        }

        .c-career04__list:nth-child(4) .c-career04__notetitle,
        .c-career04__list:nth-child(4) .c-career04__note {
            font-size: 1.6rem;
        }

        .c-title02.u-margin__bottom6 {
            margin-bottom: 1px !important;
        }
    }

    .c-interview01 {
        padding-top: 51px;

        .c-title03 {
            padding-bottom: 8px;
        }

        .c-interview__list {
            max-width: 768px;
            padding: 32px 20px;
        }

        .c-interview__item {
            max-width: 230px;
        }

        .c-interview__itemtitle {
            max-width: 201px;
            margin: 0 auto;
            font-size: 1.5rem;
            padding-left: 0;
            line-height: 1.733;
            padding-top: 14px;
        }

        .c-interview__images {
            height: 392px;
        }

        .c-interview01__itembefog {
            height: 117px;
        }

        .c-interview__btntitle {
            font-size: 1.4rem;
            line-height: 1.5;

        }

        .c-interview__btntext {
            font-size: 1.2rem;
            line-height: 1.833;
        }

        .c-interview__position {
            height: 65px;
            bottom: -16%;
            width: 86%;
        }

        .c-interview__btnicon {
            svg {
                width: 19px;
                height: 19px;
            }
        }

        .c-interview__btnitem {
            padding-left: 13px;
            padding-top: 14px;
        }

        .c-interview__images .c-interview__images--spec {
            height: unset;
        }

        .c-interview__item:nth-child(2) .c-interview__itemtitle {
            padding-left: 0;
        }

        .c-interview__btnicon {
            margin-right: 14px;
        }

        .c-interview__hovericon {
            svg {
                width: 24px;
                height: 24px;
            }
        }

        .c-interview__hovericon {
            height: 30px;
        }

        .c-interview__hovergroup {
            top: 37%;
        }
    }

    .c-interview02 {
        margin-top: 54px;

        .l-container__w1000 {
            max-width: 768px;
        }

        .c-title04 {
            padding-top: 62px;
            padding-bottom: 33px;
        }

        .c-interview02__sub {
            font-size: 2rem;
            letter-spacing: 0.054em;
        }

        .c-interview02__content {
            font-size: 1.6rem;
        }

        .c-interview02__content {
            max-width: 421px;
        }

        .c-interview02__text {
            margin-bottom: 26px;
        }

        .c-interview02__left {
            max-width: 448px;
            margin-right: 10px;
        }

        .c-interview02__right {
            width: 36%;
            max-width: 261px;
            margin-top: 0;
        }

        .c-interview02__bodytop {
            font-size: 2rem;
            line-height: 2.15;
            padding-top: 15px;
            max-width: 648px;
        }

        .c-interview02__bodybottom {
            font-size: 1.8rem;
            padding-top: 36px;
        }

        .c-interview02__body {
            .c-interview02__bodytitle {
                padding-top: 52px;
                padding-bottom: 41px;
            }
        }

        .c-interview02__bottomlogo {
            max-height: 101px;
            padding: 28px 24px 24px 23px;
            margin-right: 39px;
        }

        .c-interview02__bottom {
            padding: 0;
            padding-bottom: 34px;
        }

        .c-interview02__bottomlist {
            transform: translateY(-17px);
            line-height: 2.3;
            font-size: 2rem;
        }

        .c-interview02__bottomleft {
            max-width: 36px;
            width: 11%;
            margin-right: 15px;
            transform: translateY(-4px);
        }

        .c-line01 {
            width: 100%;
            max-width: 42px;
            height: 1px;
            margin-right: 23px;
            transform: unset;
        }

        p.c-interview02__bottomright {
            letter-spacing: 0.024em;

        }
    }

    .c-recruit {
        padding-top: 52px;

        .c-title03 {
            font-size: 4.4rem;
        }

        .c-recruit__sub {
            font-size: 1.6rem;
            padding-top: 6px;
            padding-bottom: 31px;
        }

        .c-recruit__headertitle {
            width: 46%;
            padding-top: 19px;
            padding-bottom: 11px;

            &.is-active {
                padding-top: 20px !important;
                padding-bottom: 15px !important;
            }
        }

        .c-recruit__headertext {
            transform: translateX(-13px);
        }

        .c-bg__gray {
            border-top-right-radius: 10px;
        }

        .c-recruit__groupcontentlayout {
            padding: 0 17px;
        }

        .c-recruit__tableheading {
            max-width: 175px;
            padding-left: 21px;
            font-size: 1.6rem;
            padding-bottom: 13px;
            padding-top: 14px;
            line-height: 1.875;
        }

        .c-recruit__tablecontent {
            font-size: 1.4rem;
            line-height: 2.143;
            
            padding-right: 20px;

        }

        .c-recruit__tablecontent {
            padding-bottom: 15px;
            padding-top: 13px;
        }

        .is-bg__bule .c-recruit__item:first-child {
            padding-top: 17px;
        }

        .u-show__tb02 {
            display: table-cell !important;
        }

        .c-recruit__groupbtn {
            padding-top: 37px;
            padding-bottom: 41px;
        }

        .c-recruit__btnText {
            font-size: 2rem;
        }

        .c-recruit__btn {
            height: 55px;
        }

        .c-recruit__bottom {
            max-width: 620px;
        }

        .c-recruit__btn:nth-child(1) {
            margin-right: 20px;
        }
    }

    .is-show__bggray {
        .c-recruit .c-bg__blue {
            
            padding-top: 20px;
        }

        .c-recruit .c-recruit__sub {
            padding-bottom: 32px;
        }
    }
    
}



