<header class="c-header">
  <div class="l-container">
    <div class="c-header__row">
      <div class="c-header__logo">
        <picture>
          <source media="(max-width:767px)" srcset="./assets/img/SP/logo-mb.png">
          <source media="(max-width: 1024px)" srcset="./assets/img/Tablet/logo.png">
          <img src="./assets/img/index_pc/logo.png" alt="ENTEX">
        </picture>

      </div>
      <div class="c-header__right">
        <ul class="c-nav">
          <li class="c-nav__item">
            <a href="#about" class="c-nav__link">
              <span class="c-nav__text">私たちについて</span>
            </a>
          </li>
          <li class="c-nav__item">
            <a href="#works" class="c-nav__link">
              <span class="c-nav__text">私たちの仕事&nbsp;&nbsp;</span>
            </a>
          </li>
          <li class="c-nav__item">
            <a href="#career" class="c-nav__link">
              <span class="c-nav__text">キャリアプラン</span>
            </a>
          </li>
          <li class="c-nav__item">
            <a href="#intaview" class="c-nav__link">
              <span class="c-nav__text">社員インタビュー</span>
            </a>
          </li>
          <li class="c-nav__item">
            <a href="#company" class="c-nav__link">
              <span class="c-nav__text">会社情報</span>
            </a>
          </li>
        </ul>
        <div class="c-header__btn">
          <a href="#recruit" class="c-header__btnIcon">
            <svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 20 20" class="c-header__btnsvg">
              <g id="_assignment" data-name=" assignment" transform="translate(-542 -154)">
                <rect id="Path" width="20" height="20" transform="translate(542 154)" fill="rgba(0,0,0,0)"/>
                <path id="Icon" d="M12.445,16H1.556A1.58,1.58,0,0,1,0,14.4V3.2A1.581,1.581,0,0,1,1.556,1.6H4.807A2.354,2.354,0,0,1,7,0,2.354,2.354,0,0,1,9.194,1.6h3.251A1.58,1.58,0,0,1,14,3.2V14.4A1.58,1.58,0,0,1,12.445,16ZM3.889,11.2a.8.8,0,0,0,0,1.6H7.778a.8.8,0,0,0,0-1.6Zm0-3.2a.8.8,0,0,0,0,1.6h6.222a.8.8,0,0,0,0-1.6Zm0-3.2a.8.8,0,0,0,0,1.6h6.222a.8.8,0,0,0,0-1.6ZM7,1.6a.8.8,0,1,0,.778.8A.791.791,0,0,0,7,1.6Z" transform="translate(545 155)"/>
              </g>
            </svg>
            <span class="c-header__btnText">募集要項</span>
          </a>
        </div>
        <div class="c-header__menuicon">
          <img src="./assets/img/SP/menu.svg" alt="menu icon open" class="c-header__menuiconopen">
          <img src="./assets/img/SP/close.svg" alt="menu icon close" class="c-header__menuiconclose">
        </div>
      </div>
    </div>
  </div>
  <div class="c-navmb">
    <ul class="c-navmb__list">
      <li class="c-navmb__item">
        <a href="#about" class="c-navmb__link">
          <img src="./assets/img/SP/icon-play-nav.svg" alt="nav icon" class="c-header__navitemicon">
          <span class="c-navmb__text">私たちについて</span>
        </a>
      </li>
      <li class="c-navmb__item">
        <a href="#works" class="c-navmb__link">
          <img src="./assets/img/SP/icon-play-nav.svg" alt="nav icon" class="c-header__navitemicon">
          <span class="c-navmb__text">私たちの仕事&nbsp;&nbsp;</span>
        </a>
      </li>
      <li class="c-navmb__item">
        <a href="#career" class="c-navmb__link">
          <img src="./assets/img/SP/icon-play-nav.svg" alt="nav icon" class="c-header__navitemicon">
          <span class="c-navmb__text">キャリアプラン</span>
        </a>
      </li>
      <li class="c-navmb__item">
        <a href="#intaview" class="c-navmb__link">
          <img src="./assets/img/SP/icon-play-nav.svg" alt="nav icon" class="c-header__navitemicon">
          <span class="c-navmb__text">社員インタビュー</span>
        </a>
      </li>
      <li class="c-navmb__item">
        <a href="#company" class="c-navmb__link">
          <img src="./assets/img/SP/icon-play-nav.svg" alt="nav icon" class="c-header__navitemicon">
          <span class="c-navmb__text">会社情報</span>
        </a>
      </li>
    </ul>
    <div class="c-header__btnmb">
      <a href="#recruit" class="c-header__btnIconmb">
        <svg id="_assignment" data-name=" assignment" xmlns="http://www.w3.org/2000/svg" width="27.876" height="27.876" viewBox="0 0 27.876 27.876" class="c-header__svgmb">
          <rect id="Path" width="27.876" height="27.876" fill="rgba(0,0,0,0)"/>
          <path id="Icon" d="M17.345,22.3H2.169A2.2,2.2,0,0,1,0,20.071V4.461A2.2,2.2,0,0,1,2.169,2.23H6.7A3.28,3.28,0,0,1,9.757,0a3.281,3.281,0,0,1,3.058,2.23h4.531a2.2,2.2,0,0,1,2.168,2.231v15.61A2.2,2.2,0,0,1,17.345,22.3ZM5.421,15.611a1.115,1.115,0,0,0,0,2.23h5.421a1.115,1.115,0,0,0,0-2.23Zm0-4.461a1.115,1.115,0,0,0,0,2.23h8.673a1.115,1.115,0,0,0,0-2.23Zm0-4.46a1.115,1.115,0,0,0,0,2.23h8.673a1.115,1.115,0,0,0,0-2.23ZM9.758,2.23a1.116,1.116,0,1,0,1.084,1.116A1.1,1.1,0,0,0,9.758,2.23Z" transform="translate(4.181 1.394)"/>
        </svg>
        <span class="c-header__btnTextmb">募集要項</span>
      </a>
    </div>
  </div>
  
</header>